@import "../../styles/base/variables";
@import "../../styles/base/utilities";

$time: 0.4s;
$background-color: $dark;
$highlight-color: rgb(60, 65, 92);
$border-radius: 5px;

$slide-shadow-color: rgba(0, 0, 0, 0.15);
$slide-margin: 5%;
$slide-hidden-width: 60%;
$slide-hidden-opacity: 0.5;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slides-wrapper {
  width: 100%;
  max-width: 85vh;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}

.img-wrapper {
  position: absolute;
  width: calc(100% - ($slide-margin * 2));
  height: 100%;
  display: flex;
  left: $slide-margin;

  transition: left $time, right $time, width $time, opacity $time;
}

.slide-active {
  opacity: 1;
  filter: drop-shadow(5px 0 3px $slide-shadow-color)
    drop-shadow(-5px 0 3px $slide-shadow-color);
}

.slide-left {
  left: 0;
  opacity: $slide-hidden-opacity;
  width: $slide-hidden-width;
}

.slide-right {
  left: calc(100% - $slide-hidden-width);
  opacity: $slide-hidden-opacity;
  width: $slide-hidden-width;
}

.second-row {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  @include breakpoint-at(md) {
    gap: 2rem;
  }
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-preview-wrapper {
  aspect-ratio: 1/1;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
  border: 3px solid transparent;
  cursor: pointer;
  max-width: 50px;
  padding: 0;
  border-radius: $border-radius;

  @include breakpoint-at(sm) {
    max-width: 75px;
  }

  @include breakpoint-at(xl) {
    max-width: 80px;
  }

  & > span {
    height: 100% !important;
  }

  &.active {
    border: 3px solid $white;
  }
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
  padding: 0;

  border: none;
  outline: none;
  border-radius: $border-radius;

  color: white;
  background-color: $background-color;

  &.right {
    transform: rotateY(180deg);
  }

  svg {
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0;
    position: relative;
    left: 0;
    transition: left 0.25s;
  }

  &:hover svg {
    left: -0.25rem;
  }

  @include breakpoint-at(md) {
    width: 4rem;
    font-size: 4rem;
  }

  &:focus {
    outline: none !important;
  }

  // Blue hightlight
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.2s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: radial-gradient(
      circle farthest-side at 0% 50%,
      $highlight-color,
      transparent
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }
}
