@import "../../styles/base/grid";

.wrapper {
  flex-grow: 1;
  flex-basis: 0px;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
  transition: transform 0.25s;
  position: relative;
  overflow: hidden;
  z-index: 0;

  transition: flex-basis var(--transition-time),
    flex-grow var(--transition-time), border var(--transition-time),
    transform 0.25s;

  &.active {
    flex-basis: var(--item-width);
    flex-grow: 0;
    transform: translateY(-6px);
  }

  &:not(.active):hover {
    transform: translateY(-3px);
  }

  box-sizing: content-box;

  &:not(:last-of-type) {
    border-right: solid 2px rgba(255, 255, 255, 0.15);
  }
}

.padding {
  padding: 1rem 0.5rem;

  @include breakpoint-at(md) {
    padding: 3rem 1.5rem;
  }
}

.background {
  width: 100%;
  height: 100%;
}

.button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: start;
  font-size: 0.9rem;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;

  transition: opacity var(--transition-time);

  &:not(:disabled) {
    cursor: pointer;
  }

  @include breakpoint-at(md) {
    font-size: 1.2rem;
  }

  @include breakpoint-at(lg) {
    font-size: 1.5rem;
  }
}

.wrapper.active {
  .button {
    opacity: 0;
    pointer-events: none;
  }
}

.title-wrapper {
  color: white;
  writing-mode: vertical-lr;
  letter-spacing: 3px;
}

.content-wrapper {
  position: absolute;
  top: 0;
  width: var(--item-width);
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 0;
  pointer-events: none;
}

.content {
  opacity: 0;
  transition: opacity var(--transition-time);
  color: white;
}

.wrapper.active {
  .content {
    opacity: 1;
    pointer-events: initial;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.25;
  transition: opacity var(--transition-time);
}

.wrapper {
  &.active {
    .background {
      opacity: 0.7;
    }
  }

  &:not(.active):hover {
    .background {
      opacity: 0.5;
    }
  }
}
