@import "../../styles/base/variables";
@import "../../styles/base/grid";

.contact-list-item {
  display: flex;
  align-items: center;

  svg {
    font-size: 2rem;
    margin-right: 1rem;

    @include breakpoint-at(md) {
      margin-right: 2rem;
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: $font-weight-medium;

    @include breakpoint-at(md) {
      font-size: 1.5em;
    }
  }

  a {
    color: white;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    text-decoration: none;
    position: relative;
    width: fit-content;
    font-weight: $font-weight-light;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: white;
    }
  }
}
