@import "utilities";

.btn {
  padding: 0.8em 1.3em;
  background-color: $white;
  color: $black;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;

  @include breakpoint-at(md) {
    padding: 1em 1.5em;
  }
}

.btn-icon-right {
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:last-child {
    margin-left: 0.5em;
    font-size: 1.1em;

    @include breakpoint-at(md) {
      font-size: 1.2em;
    }
  }
}

.btn-primary {
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: adjust-color($primary, $lightness: -10%);
  }
}

.btn-secondary {
  background-color: $secondary;
  color: $black;

  &:hover {
    background-color: adjust-color($secondary, $lightness: -10%);
  }
}

.btn-dark {
  background-color: $dark;
  color: $white;

  &:hover {
    background-color: adjust-color($dark, $lightness: 10%);
  }
}

.btn-group {
  display: flex;
  justify-content: center;

  .btn {
    flex-grow: 1;
    flex-basis: 0;
  }
}
