$amount: 10vh;
$time: 0.5s;
$function: cubic-bezier(0.65, 0, 0.35, 1);

// .parallax {
//   position: relative;
//   top: calc(var(--inverted-parallax) * $amount);
//   opacity: var(--parallax);
// }

// .parallax {
//   position: relative;
//   transition: top $time $function, opacity $time $function;
//   opacity: 0;
//   top: $amount;

//   &.start {
//     opacity: 1;
//     top: 0;
//   }
// }

.wrapper {
  position: relative;
  transition: top $time $function, opacity $time $function;
  opacity: 0;
  top: $amount;

  &.start {
    opacity: 1;
    top: 0;
  }

  &.end {
    opacity: 0;
    top: -$amount;
  }
}

.content {
  li {
    margin-bottom: 0.5rem;
  }
}
