@import "../../styles/base/grid";
@import "../../styles/base/utilities";

.wrapper {
  overflow: hidden;
}

.content {
  li {
    margin-bottom: 0.5rem;
  }
}

.slider-parent {
  position: relative;
  transition: left var(--fade-transition), opacity var(--fade-transition),
    top var(--fade-transition), opacity var(--fade-transition);
  left: calc(var(--fade-offset) * -1);
  top: calc(var(--fade-offset) * -1);

  :global(.direction-xl-row-reverse) & {
    left: var(--fade-offset);
  }

  :global(.parallax-start) & {
    top: 0;
    left: 0%;
  }

  :global(.parallax-end) & {
    left: calc(var(--fade-offset) * -1);
    top: var(--fade-offset);
  }

  :global(.parallax-end) :global(.direction-xl-row-reverse) & {
    left: var(--fade-offset);
  }
}

@include breakpoint-at(xl) {
  .text-parallax {
    position: relative;
    top: calc((var(--parallax) - 0.5) * 15vh);
  }
}

.button {
  max-width: fit-content;

  @include breakpoint-at(xl) {
    max-width: none;
  }
}
