@import "../../styles/base/grid";

$amount: 10vh;
$time: 0.5s;
$function: cubic-bezier(0.65, 0, 0.35, 1);

// .parallax {
//   position: relative;
//   top: calc(var(--inverted-parallax) * $amount);
//   opacity: var(--parallax);
// }

// .parallax {
//   position: relative;
//   transition: top $time $function, opacity $time $function;
//   opacity: 0;
//   top: $amount;

//   &.start {
//     opacity: 1;
//     top: 0;
//   }
// }

.parent {
  overflow: hidden;
}

.wrapper {
  position: relative;
  transition: top $time $function, opacity $time $function;
  opacity: 0;
  top: $amount;

  &.start {
    opacity: 1;
    top: 0;
  }

  &.end {
    opacity: 0;
    top: -$amount;
  }
}

.content {
  li {
    margin-bottom: 0.5rem;
  }
}

.slider-parent {
  position: relative;
  transition: left $time $function, opacity $time $function, top $time $function,
    opacity $time $function;
  left: -$amount;
  top: -$amount;

  :global(.direction-xl-row-reverse) & {
    left: $amount;
  }

  .start & {
    top: 0;
    left: 0%;
  }

  .end & {
    left: -$amount;
    top: $amount;
  }

  .end :global(.direction-xl-row-reverse) & {
    left: $amount;
  }
}

@include breakpoint-at(xl) {
  .text-parallax {
    position: relative;
    top: calc((var(--parallax) - 0.5) * 15vh);
  }
}
