@import "base/reset";
@import "base/variables";
@import "base/spacing";
@import "base/text";
@import "base/grid";
@import "base/position";
@import "base/sizing";
@import "base/display";
@import "base/flexbox";
@import "base/pointer";
@import "base/button";

$scrollbar-track: black;
$scrollbar-thumb: white;

* {
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scrollbar-color: $scrollbar-thumb $scrollbar-track;
  scrollbar-width: thin;
}

a {
  color: inherit;
}

canvas {
  background: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: $scrollbar-track;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  font-weight: bold;
}

.blue-background {
  background: #151515;
  color: white;
}

.background-black {
  background: #000000;
}
